.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 10px;
  margin: 10px;
  height: 90vh; /* Adjust height to make the box smaller */
}



.App-header {
  background-color: #dc9292;
  padding: 20px;
  min-height: 20px; /* Reduce the height */
}

.header-title {
  font-size: 20px; /* Reduce the font size */
}

.main-content {
  padding: 20px;
}
